$bg-color: #101010;
$dark-gray: #202020;
$medium-gray: #2c2c2c;
$light-gray: #414141;
$lighter-gray: #b4aeae;
$light-blue: #59a3b6;
$screen-bg-color: #f4f4f4;
$header-area-color: rgba(255, 255, 255, 0.98); ;
